grant {
  permission java.lang.RuntimePermission "com.sun.j2me.trusted.App";
  permission java.lang.RuntimePermission "com.sun.lifecycle_management";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.http", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.https", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.socket", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.serversocket", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.datagram", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.datagramreceiver", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.comm", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.sms", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.mms", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.file.read", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.file.write", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.obex.client", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.obex.server", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.obex.client.tcp", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.obex.server.tcp", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.bluetooth.client", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.bluetooth.server", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.sip", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.sips", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.io.PushRegistry", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.location.Location", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.location.Orientation", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.location.ProximityListener", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.location.LandmarkStore.read", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.location.LandmarkStore.write", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.location.LandmarkStore.category", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.location.LandmarkStore.management", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.payment.process", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.ContactList.read", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.ContactList.write", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.EventList.read", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.EventList.write", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.ToDoList.read", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.ToDoList.write", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.media.control.RecordControl", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.media.control.VideoControl.getSnapshot", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.apdu.aid", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.apdu.sat", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.jrcmi", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.securityservice.CMSMessageSignatureService", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.content.ContentHandler", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.amms.control.camera.enableShutterFeadback", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.microedition.amms.control.tuner.setPreset", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.sms.send", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.sms.receive", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.cbs.receive", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.mms.send", "allow";
  permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.mms.receive", "allow";
};
