grant {
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.http", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.https", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.socket", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.serversocket", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.datagram", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.datagramreceiver", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.comm", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.sms", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.mms", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.file.read", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.file.write", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.obex.client", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.obex.server", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.obex.client.tcp", "allow";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.obex.server.tcp", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.bluetooth.client", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.bluetooth.server", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.sip", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.Connector.sips", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.io.PushRegistry", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.location.Location", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.location.Orientation", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.location.ProximityListener", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.location.LandmarkStore.read", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.location.LandmarkStore.write", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.location.LandmarkStore.category", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.location.LandmarkStore.management", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.payment.process", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.ContactList.read", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.ContactList.write", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.EventList.read", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.EventList.write", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.ToDoList.read", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.pim.ToDoList.write", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.media.control.RecordControl", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.media.control.VideoControl.getSnapshot", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.apdu.aid", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.apdu.sat", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.jrcmi", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.securityservice.CMSMessageSignatureService", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.content.ContentHandler", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.amms.control.camera.enableShutterFeadback", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.microedition.amms.control.tuner.setPreset", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.sms.send", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.sms.receive", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.cbs.receive", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.mms.send", "session(oneshot)";
        permission com.sun.j2me.security.MidpPermission "javax.wireless.messaging.mms.receive", "session(oneshot)";
};


